<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Document</title>
</head>
<body>
    {%from "components/navbar.html" import navbar%}
    {{navbar('Aerolinea')}}

    <main class="main-content">
        <section>
            <img src="{{url_for('static',filename='images/banner.png')}}" alt="banner">
        </section>
    </main>

    <style>
        .main-content{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /*fondo gradiente*/
        body{
            background: linear-gradient(rgba(23, 4, 99, 1),rgba(220,214,251,1));
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    
</body>
</html>