{%macro passenger_element(name,lastname,email,id)%}
<div class="passenger">
    <a href="{{url_for('passenger.read_passengers',passenger_id=id)}}">
        <img src="{{url_for('static',filename='images/user.svg')}}" alt="user-logo">
    </a>
    
    <p>{{name}}</p>
    <p>{{lastname}}</p>
    <p>{{email}}</p>

    <div class="btn-zone">
        <a href="{{url_for('passenger.update_passengers',passenger_id=id)}}" class="btn-edit">
            
            <img class="btn edit" src="{{url_for('static',filename='images/edit.svg')}}" alt="edit logo">
        </a>
        <a  href="{{url_for('passenger.delete_passengers',passenger_id=id)}}" class="btn-delete">
            <img class="btn delete" src="{{url_for('static',filename='images/delete.svg')}}" alt="delete logo">
        </a>
    </div>
    
</div>

<style scoped>
    .passenger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 40px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: #696969;
    }
    .passenger p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    .passenger img{
        width: 50px;
    }
    .btn-zone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }
    .btn{
        width: 20px;
        height: 20px;
    }
    .btn-edit{
        background-color: #41b883;
        border-radius: 50%;
    }
    .btn-delete{
        background-color: #e55353;
        border-radius: 50%;
    }
    

</style>

{%endmacro%}