<link rel="stylesheet" href="main.css">
{% macro navbar(text) %}
<nav class="navbar">
    <div class="div-nav">
        <p>{{text}}</p>
       <div class="options">
        <a href="{{url_for('flight.create_flights')}}">vuelos</a>
        <a href="{{url_for('passenger.create_passengers')}}">pasajeros</a>
       </div>
        <div class="money">
            <img class="img-acuador" style="width: 30px;" src=" {{url_for('static', filename='images/ecuador.svg') }}" alt="ecualogo">
            <p>USD-$</p>
        </div>
        {%from "components/button.html" import btn%}
        {{btn('iniciar sesion', '#403372')}}
    </div>
</nav>

<style scoped>
    .options{
        display: flex;
        align-items: center;
        width: 30%;
        margin: 2px;
    }
    .options a {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
        font-size: 13px;
        font-weight: bold;
    }
</style>
{%endmacro%}